/* General Styling */

/* Container */

.forgetcontainer{
    max-width: 400px;
    width: 100%;
    margin: 200px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
/* Heading */


/* Form */
.forget-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-inputforget {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}

.form-inputforget:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.forgetbtn {
    padding: 12px;
    font-size: 1rem;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.forgetbtn:hover {
    background-color: #2980b9;
}

/* Messages */
p {
    margin: 0;
    font-size: 0.9rem;
}



/* Responsive Design */
@media screen and (max-width: 480px) {
    
    .forgetbtn {
        font-size: 0.9rem;
    }
}
