/* General Navbar Styling */
.navbar {
  display: flex;

  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed; /* Keep navbar fixed at the top */
  top: 0;
  left: 0; /* Ensure full width */
  width: 100%;
  z-index: 1000; 
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Logo Styling */
.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo-image {
  width: 120px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}

/* Navbar Links Styling */
.navbar-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar-links li {
  font-size: 1rem;
  color: red;
  font-weight: bold;
}

.navbar-links a {
  color: red;
  text-decoration: none;
}

.navbar-links .active-link a {
  border-bottom: 2px solid #ff4d4d; /* Highlight active link */
}

/* Auth Button Styling */
.auth-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #e03e3e;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .navbar-links {
    flex-direction: column;
    gap: 10px;
  }

  .auth-button {
    margin-top: 10px;
  }
}
